*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.table111{
	width: 100%;
}
.ok {
	background-color: #fcf2de;
	
	
}
.ok1{
	box-shadow: 0 0 20px black;
	border-radius: 0 0 10px 10px;
}

@media screen and (min-width: 1000px)
{
	.iconka {
	display: none;
	}
	}
.container2{
	display: flex;
	align-content: center;
	justify-content: center;
	
}
.regester1{

	display: flex;
	text-align: center;
	width: 40%;
	height: 100%;
	background-color: lavender;
	border-radius: 10px;
	box-shadow: 0 0 40px black;
	margin-top: 30px;
}
.block1{
	width: 100%;
	height: 100%;
	text-align: center;
	}

@media screen and (max-width: 1000px){	
.regester1{
	width: 100%;
	margin-top: 0;
	border-radius: 0;
	padding-top: 20px;
	}
	.ok111{
		height: 100vh;
		display: flex;
		flex-direction: column;
		background-color: #191d24;

	}
	.container2{
		flex: 20;
	}
	.ok222{
		flex: 1;
		box-shadow: 0 0 0 0 ;
		border-radius: 0;
		border-bottom: 2px solid gainsboro;
	}
	.table111{
		width: 100%;
	}
}


.QR{

	color: black;
	text-decoration: none;
	margin-left: 10px;
	font-size: 20px;
	position: relative;
	
}
.QR:before{
	content: "";
	position: absolute;
	width: 0%;
	height: 5px;
	bottom: -19px;
	background-color: #c0c0c0;
	border-radius: 10px;
	
}
.QR1:before{
	content: "";
	position: absolute;
	width: 100%;
	height: 5px;
	bottom: -19px;
	background-color: #f4a460;
	border-radius: 10px;
}


.QR:hover:before{
	width: 100%;
}
table{
	width: 80%;
}
.input11{
	width: 80%;
	padding: 5px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1px solid #c0c0c0;
}
.btn3{
	border-radius: 20px;
	background-color:#f4a460;
	width: 80%;
	margin: 5px;
	padding: 5px;
	border: none;
	
}
.btn3:hover{
	border-radius: 20px;
	background-color:#f4a460;
	width: 80%;
	margin: 5px;
	padding: 5px;
	border: none;
	box-shadow: 0 0 1px 1px #f4a460;
	
}
.btn1{
	display: inline-block;
	border-radius: 20px;
	width: 80%;
	text-decoration: none;
	border: 1px solid #c0c0c0;	
	color: black;
	padding: 5px;
	margin: 5px;
}
.btn2:hover{
	display: inline-block;
	border-radius: 20px;
	width: 80%;
	text-decoration: none;
	border: 1px solid #f4a460;	
	color: #f4a460;
	padding: 5px;
	margin: 5px;
}

.text{
	font-size: 13px;
	margin: 8px;
}
.text1{
	display: inline-block;
	position: relative;
	background-color: white;
	top: -38px;
	margin: 0 auto;
}
.hr1{
	width: 80%;
	display: inline-block;
	
}
.register{
	display: inline-block;
	border-radius: 20px;
	width: 50%;
	text-decoration: none;
	background-color: #c0c0c0; 	
	color: black;
	padding: 5px;
	top: -30px;
	position: relative;
}
.register:hover{
	display: inline-block;
	border-radius: 20px;
	width: 50%;
	text-decoration: none;
	background-color: #c0c0c0; 	
	color: black;
	padding: 5px;
	top: -30px;
	position: relative;
	box-shadow: 0 0 1px 1px #c0c0c0;
}

.icon1{
	text-decoration: none;
	text-align: center;	
}
.icons1{
	display: flex;
	justify-content: center;
	align-content: center;
}
.icons{
	position: relative;
	top: -10px;
	width: 60%;
	height: 50px;
	display: flex;
	justify-content: space-around;
}
