
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.ok {
	background-color: #c0c0c0;
	
	
}
.ok1{
	box-shadow: 0 0 20px black;
	border-radius: 10px;
}

@media screen and (min-width: 1000px)
{
	.iconka {
	display: none;
	}
	}
.container2{
	display: flex;
	justify-content: center;
	
}
.regester1{

	width: 60%;
	height: 100%;
	background-color: lavender;
	box-shadow: 0 0 40px grey;
	margin-top: 30px;
}
.block1{
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	padding-top: 15%;
	padding-bottom: 3%;
	flex-direction: column;
	}

@media screen and (max-width: 1000px){	
.regester1{
	margin-top: 0;
	width: 100%;
	height: 100%;
	}
	.ok111{
		display: flex;
		flex-direction: column;
		height: 100vh;
		background-color: #191d24;
	}
	.ok222{
		flex: 1;
		border-radius: 0;
		border-bottom: 2px solid #ccc5c5;
		box-shadow: 0 0 0 0 ;
	}
	.ok333{
		flex: 20;
	}
	.block1 {
		display: flex;
		width: 100%;
		height: 100%;
		flex-direction: column;
	}
	.ok444{
		flex: 15;
	}
	.ok5555{
		flex: 1;
	}
	.border{
		width: 100%;
	}
}


.border{
	border-radius: 5px;
	width: 100%;
}
.btn1{
	border-radius: 20px;
	width: 100%;
	background-color: #f4a460;
	border: none;
}
.btn1:hover{
	border-radius: 20px;
	width: 100%;
	background-color: #f4a460;
	border: none;
	box-shadow: 0 0 0 1px #f4a460;
}
.pi{
	font-size: 13px;
	text-align:center;
	margin-bottom: 0;
}
table{
	display: block;
	width: 40%;
}
.hr1{
	
	width:90%;
	margin-top:15%;
	
}
.icons1{

	font-size: 13px;
}